* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    padding: 4px 0px;
    background-color: rgb(115, 170, 233);
    color: #000000;
    font-size: 22px;
}

.container {
    display: flex;
    justify-content: center;   
    background-color: rgb(115, 170, 233);
    color: #000000;
}

.form-campo {
    margin-bottom: 4px;
}

.form-campo label {
    display:block;
    font-style: italic;
}

input {
    padding: 4px 4px;
    width: 300px;
    border-radius: 8px;
    border: none;
}

button {   
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    border-radius: 6px;
    background-color: #0a5fa5;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    margin: 21px 0;
}